<!DOCTYPE html>
<html>
	<head>
		<title>Home Page</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
		<script src="http://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js" integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf" crossorigin="anonymous"></script>
    	<link rel="stylesheet" href="{{ url_for('static', filename ='css/homepage.css')}}">
	</head>
	<body>
		<div class="container-sm mt-4 centered">
			<h1 class="MainHeading">My Todo List</h1>
			<p>Add some things to your list!<p>
			
			<input placeholder="Add an item to your todo list!">
			<button class="btn btn-sucess ml-4">Add Item</button>
			<ul id="TodoList">
				{% for item in todolist %}
					<li>{{items}}</li>
				{% endfor %}
			</ul>

		</div>


	</body>
</html>